In [248]:
import pandas as pd
import numpy as np

In [249]:
import json

In [250]:
df=pd.read_csv('movies.csv')

In [251]:
df.head()

,id,title,overview,genres,keywords,adult
0,8195,Ronin,A briefcase with undisclosed contents – sought...,"['Action', 'Thriller', 'Crime']","['france', 'paris, france', 'arms deal', 'merc...",False
1,663558,New Gods: Nezha Reborn,While living as an ordinary deliveryman and mo...,"['Animation', 'Fantasy', 'Action']","['based on novel or book', 'reincarnation', 'd...",False
2,11,Star Wars,Princess Leia is captured and held hostage by ...,"['Adventure', 'Action', 'Science Fiction']","['empire', 'galaxy', 'rebellion', 'android', '...",False
3,12,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...","['Animation', 'Family']","['fish', 'sydney, australia', 'parent child re...",False
4,13,Forrest Gump,A man with a low IQ has accomplished great thi...,"['Comedy', 'Drama', 'Romance']","[""new year's eve"", 'vietnam war', 'vietnam vet...",False

In [252]:
len(df)

3147

In [253]:
df=df.drop(['adult'],axis=1)

In [254]:
df['id'].duplicated().sum()

np.int64(790)

In [255]:
df=df.drop_duplicates(subset=['id']).reset_index(drop=True)

In [256]:
df['id'].duplicated().sum()

np.int64(0)

In [257]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2357 entries, 0 to 2356
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        2357 non-null   int64
 1   title     2357 non-null   object
 2   overview  2324 non-null   object
 3   genres    2357 non-null   object
 4   keywords  2357 non-null   object
dtypes: int64(1), object(4)
memory usage: 92.2+ KB

In [258]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2357 entries, 0 to 2356
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        2357 non-null   int64
 1   title     2357 non-null   object
 2   overview  2324 non-null   object
 3   genres    2357 non-null   object
 4   keywords  2357 non-null   object
dtypes: int64(1), object(4)
memory usage: 92.2+ KB

In [259]:
df['id'].duplicated().any()

np.False_

In [260]:
type(df.keywords[0])

str

In [261]:
df[df.keywords=='[]']

Empty DataFrame
Columns: [id, title, overview, genres, keywords]
Index: []

In [262]:
l1=[False]*len(df)

In [263]:
len(df.keywords[1])
[len(i)==2 for i in df.keywords]==l1

True

In [264]:
len(df.keywords[0])

65

In [265]:
df.loc[df.keywords.str.len()==2]

Empty DataFrame
Columns: [id, title, overview, genres, keywords]
Index: []

In [266]:
df['keywords'].apply(len).min()

7

danc tout les movie ont ou mois un keyword

In [267]:
index_genr=df.loc[df.genres.str.len()==2].index

In [268]:
df1=df.drop(index_genr,axis=0).reset_index(drop=True)

In [269]:
df1

,id,title,overview,genres,keywords
0,8195,Ronin,A briefcase with undisclosed contents – sought...,"['Action', 'Thriller', 'Crime']","['france', 'paris, france', 'arms deal', 'merc..."
1,663558,New Gods: Nezha Reborn,While living as an ordinary deliveryman and mo...,"['Animation', 'Fantasy', 'Action']","['based on novel or book', 'reincarnation', 'd..."
2,11,Star Wars,Princess Leia is captured and held hostage by ...,"['Adventure', 'Action', 'Science Fiction']","['empire', 'galaxy', 'rebellion', 'android', '..."
3,12,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...","['Animation', 'Family']","['fish', 'sydney, australia', 'parent child re..."
4,13,Forrest Gump,A man with a low IQ has accomplished great thi...,"['Comedy', 'Drama', 'Romance']","[""new year's eve"", 'vietnam war', 'vietnam vet..."
...,...,...,...,...,...
2340,1073112,The Summer Book,"The story of the relationship between Sophia, ...",['Drama'],"['based on novel or book', 'grandparent grandc..."
2341,1204186,White Courage,The film tells the story of two Highlander bro...,"['Drama', 'War', 'History']","['world war ii', 'brotherhood', 'highlander', ..."
2342,1597414,Bound By a Promise,Retired soldier Chen Shisan accepts a high-ris...,['Action'],"['wuxia', 'costume drama']"
2343,1376237,Savage Hunt,A vengeful tracker is brought in to hunt down ...,['Thriller'],"['grizzly bear', 'survival horror', 'mountain ..."
2344,393209,Avatar 5,The fifth installment of the Avatar franchise.,"['Adventure', 'Science Fiction', 'Fantasy']",['sequel']

In [270]:
df1.head()

,id,title,overview,genres,keywords
0,8195,Ronin,A briefcase with undisclosed contents – sought...,"['Action', 'Thriller', 'Crime']","['france', 'paris, france', 'arms deal', 'merc..."
1,663558,New Gods: Nezha Reborn,While living as an ordinary deliveryman and mo...,"['Animation', 'Fantasy', 'Action']","['based on novel or book', 'reincarnation', 'd..."
2,11,Star Wars,Princess Leia is captured and held hostage by ...,"['Adventure', 'Action', 'Science Fiction']","['empire', 'galaxy', 'rebellion', 'android', '..."
3,12,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...","['Animation', 'Family']","['fish', 'sydney, australia', 'parent child re..."
4,13,Forrest Gump,A man with a low IQ has accomplished great thi...,"['Comedy', 'Drama', 'Romance']","[""new year's eve"", 'vietnam war', 'vietnam vet..."

replace the null overview with title + genres

In [271]:
df2=df1.copy()

In [272]:
len(df2[df2.overview.isnull()])

32

In [273]:
# for i in df[df.overview.isnull()].index:

In [274]:
# test=list(df2.iloc[4].genres)

In [275]:
type(df2.iloc[4].genres)

str

In [276]:
df1.iloc[4].title

'Forrest Gump'

In [277]:
import ast
df2['genres'] = df2['genres'].apply(ast.literal_eval)

In [278]:
type(df2.iloc[4].genres)

list

In [279]:
df['id'].duplicated().any()

np.False_

In [280]:
over="the movie "+df2.iloc[4].title+" is a "
# over+=df2.iloc[4].title
over+=str(', '.join(df2.iloc[4].genres))
over+=" movie"

In [281]:
over

'the movie Forrest Gump is a Comedy, Drama, Romance movie'

In [282]:
def create_overview(df,index):
  over="the movie "+df1.iloc[index].title+" is a "
  over+=str(', '.join(df2.iloc[index].genres))
  over+=" movie"
  return over

In [283]:
df2[df2.overview.isnull()].index

Index([  33,  150,  425,  690,  824,  851,  916,  993, 1094, 1111, 1129, 1295,
       1449, 1475, 1537, 1586, 1593, 1738, 1781, 1802, 1835, 1870, 1909, 1912,
       2003, 2028, 2034, 2090, 2111, 2122, 2208, 2238],
      dtype='int64')

In [284]:
df2.loc[38, 'overview']=create_overview(df2,38)

In [285]:
df2.iloc[38]

id                                                         77
title                                                 Memento
overview       the movie Memento is a Mystery, Thriller movie
genres                                    [Mystery, Thriller]
keywords    ['drug dealer', 'amnesia', 'insulin', 'tattoo'...
Name: 38, dtype: object

In [286]:
for i in df1[df1.overview.isnull()].index:
  df1.loc[i, 'overview']=create_overview(df2,i)

In [287]:
df1[df1.overview.isnull()].index

Index([], dtype='int64')

now that we have a clean data without any messign so we can start building our model and train it

## Model

In [288]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [289]:
df3=df1.copy()

In [290]:
df3['genres'] = df3['genres'].str.replace(r"[\[\]']", "", regex=True)
df3['keywords'] = df3['keywords'].str.replace(r"[\[\]']", "", regex=True)

In [291]:
df3.loc[0]

id                                                       8195
title                                                   Ronin
overview    A briefcase with undisclosed contents – sought...
genres                                Action, Thriller, Crime
keywords    france, paris, france, arms deal, mercenary, s...
Name: 0, dtype: object

In [292]:
def one_text(row):
  text = []
  if pd.notna(row['genres']):
    text.append(row['genres'])

  if pd.notna(row['keywords']):
    text.append(row['keywords'])

  if pd.notna(row['overview']):
   text.append(row['overview'])


  return " ".join(text)

In [293]:
df3['text'] = df3.apply(one_text, axis=1)

In [294]:
df3.loc[1]

id                                                     663558
title                                  New Gods: Nezha Reborn
overview    While living as an ordinary deliveryman and mo...
genres                             Animation, Fantasy, Action
keywords    based on novel or book, reincarnation, dragon,...
text        Animation, Fantasy, Action based on novel or b...
Name: 1, dtype: object

In [295]:
movie_texts = df3['text'].to_list()

In [296]:
movie_texts[0]

"Action, Thriller, Crime france, paris, france, arms deal, mercenary, suitcase A briefcase with undisclosed contents – sought by Irish terrorists and the Russian mob – makes its way into criminals' hands. An Irish liaison assembles a squad of mercenaries, or 'ronin', and gives them the thorny task of recovering the case."

In [297]:
movie_ids = df3['id'].to_list()
movie_ids[0]

8195

In [298]:
movie_titles = df3['title'].to_list()
movie_titles[0]

'Ronin'

TF-IDF

In [299]:
vectorizer = TfidfVectorizer(stop_words='english', max_features=5000)
tfidf_matrix = vectorizer.fit_transform(movie_texts)

In [300]:
print(tfidf_matrix.shape)

(2345, 5000)

In [301]:
similarity_matrix = cosine_similarity(tfidf_matrix)

In [302]:
similarity_matrix

array([[1.        , 0.00880159, 0.00563809, ..., 0.00577139, 0.00710189,
        0.        ],
       [0.00880159, 1.        , 0.00734958, ..., 0.00752335, 0.        ,
        0.02283393],
       [0.00563809, 0.00734958, 1.        , ..., 0.0498781 , 0.        ,
        0.04845592],
       ...,
       [0.00577139, 0.00752335, 0.0498781 , ..., 1.        , 0.03517379,
        0.        ],
       [0.00710189, 0.        , 0.        , ..., 0.03517379, 1.        ,
        0.        ],
       [0.        , 0.02283393, 0.04845592, ..., 0.        , 0.        ,
        1.        ]])

In [303]:
model_data = {
    'movie_ids': movie_ids,
    'movie_titles': movie_titles,
    'similarity_matrix': similarity_matrix.tolist()
}

with open('model_similarity.json', 'w') as f:
    json.dump(model_data, f)

In [304]:
def find_similar_movies(target_movie_id, top_n=6):
    try:
        movie_index = movie_ids.index(target_movie_id)
    except ValueError:

        return []

    similarities = similarity_matrix[movie_index]

    similar_indices = np.argsort(similarities)[-top_n-1:-1][::-1]

    similar_movies = []
    for idx in similar_indices:
        similar_movies.append({
            'id': movie_ids[idx],
            'title': movie_titles[idx],
            'similarity_score': float(similarities[idx])
        })

    return similar_movies

In [312]:
similar = find_similar_movies(1084242, top_n=5)

for movie in similar:
    print(f" {movie['title']}, {movie['id']}, {movie['similarity_score']:.3f}")

  - Zootopia (ID: 269149, score: 0.437)
  - 22 Jump Street (ID: 187017, score: 0.127)
  - Anatomy of a Murder (ID: 93, score: 0.125)
  - Fantastic Mr. Fox (ID: 10315, score: 0.123)
  - Our Fault (ID: 1156594, score: 0.122)

In [306]:
df['id'].duplicated().any()

np.False_

In [307]:
import pickle

In [308]:
with open('tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(vectorizer, f)

In [309]:
with open('original_text.json', 'w') as f:
    json.dump(movie_texts, f)